:root{
  --atc-brand-10: #031724;
  --atc-brand-20: #05273D;
  --atc-brand-30: #073655;
  --atc-brand-40: #08436A;
  --atc-brand-50: #0A507E;
  --atc-brand-60: #0B5B90;
  --atc-brand-70: #0D67A2;
  --atc-brand-80: #0E72B4;
  --atc-brand-90: #398BC2;
  --atc-brand-100: #65A5CF;
  --atc-brand-110: #8BBBDB;
  --atc-brand-120: #ABCEE5;
  --atc-brand-130: #C5DDED;
  --atc-brand-140: #DDEBF4;
  --atc-brand-150: #EEF5FA;
  --atc-brand-160: #FAFAFB;
  --atc-secondary-10: #040A10;
  --atc-secondary-20: #07111B;
  --atc-secondary-30: #0A1825;
  --atc-secondary-40: #0C1E2F;
  --atc-secondary-50: #0F2337;
  --atc-secondary-60: #11283F;
  --atc-secondary-70: #132D47;
  --atc-secondary-80: #15324F;
  --atc-secondary-90: #3F576F;
  --atc-secondary-100: #697C8E;
  --atc-secondary-110: #8F9DAB;
  --atc-secondary-120: #ADB7C1;
  --atc-secondary-130: #C7CED5;
  --atc-secondary-140: #DEE2E6;
  --atc-secondary-150: #EFF1F3;
  --atc-secondary-160: #FAFAFB;
  --atc-success-10: #072319;
  --atc-success-20: #0C3C2A;
  --atc-success-30: #10533A;
  --atc-success-40: #146849;
  --atc-success-50: #187B56;
  --atc-success-60: #1B8D62;
  --atc-success-70: #1F9E6F;
  --atc-success-80: #22B07B;
  --atc-success-90: #4ABE93;
  --atc-success-100: #72CCAB;
  --atc-success-110: #95D9C0;
  --atc-success-120: #B2E3D1;
  --atc-success-130: #CAECDF;
  --atc-success-140: #E0F4ED;
  --atc-success-150: #F0F9F6;
  --atc-success-160: #FAFAFB;
  --atc-info-10: #06222B;
  --atc-info-20: #0B3949;
  --atc-info-30: #0F4F65;
  --atc-info-40: #12647E;
  --atc-info-50: #167696;
  --atc-info-60: #1987AB;
  --atc-info-70: #1C98C1;
  --atc-info-80: #1FA9D6;
  --atc-info-90: #47B8DD;
  --atc-info-100: #70C8E5;
  --atc-info-110: #93D6EB;
  --atc-info-120: #B1E1F1;
  --atc-info-130: #C9EAF5;
  --atc-info-140: #E0F3F9;
  --atc-info-150: #EFF9FC;
  --atc-info-160: #FAFAFB;
  --atc-accent-10: #121630;
  --atc-accent-20: #1F2552;
  --atc-accent-30: #2A3371;
  --atc-accent-40: #35408E;
  --atc-accent-50: #3F4CA8;
  --atc-accent-60: #4856C0;
  --atc-accent-70: #5161D8;
  --atc-accent-80: #5A6CF0;
  --atc-accent-90: #7886F3;
  --atc-accent-100: #95A1F5;
  --atc-accent-110: #B0B8F8;
  --atc-accent-120: #C5CCFA;
  --atc-accent-130: #D7DCFB;
  --atc-accent-140: #E8EAFD;
  --atc-accent-150: #F3F5FE;
  --atc-accent-160: #FAFAFB;
  --atc-danger-10: #2D0104;
  --atc-danger-20: #4D0206;
  --atc-danger-30: #6B0309;
  --atc-danger-40: #86040B;
  --atc-danger-50: #9F040D;
  --atc-danger-60: #B6050F;
  --atc-danger-70: #CC0511;
  --atc-danger-80: #E30613;
  --atc-danger-90: #E8333D;
  --atc-danger-100: #ED6068;
  --atc-danger-110: #F2878E;
  --atc-danger-120: #F5A8AC;
  --atc-danger-130: #F8C3C6;
  --atc-danger-140: #FBDCDE;
  --atc-danger-150: #FDEEEE;
  --atc-danger-160: #FAFAFB;
  --atc-warning-10: #2E2000;
  --atc-warning-20: #4F3700;
  --atc-warning-30: #6D4C00;
  --atc-warning-40: #896000;
  --atc-warning-50: #A27100;
  --atc-warning-60: #BA8200;
  --atc-warning-70: #D19200;
  --atc-warning-80: #E8A200;
  --atc-warning-90: #ECB32E;
  --atc-warning-100: #F0C35C;
  --atc-warning-110: #F4D285;
  --atc-warning-120: #F7DEA6;
  --atc-warning-130: #F9E9C2;
  --atc-warning-140: #FCF2DB;
  --atc-warning-150: #FDF8ED;
  --atc-warning-160: #FAFAFB;
  --atc-neutral-10: #161819;
  --atc-neutral-20: #25282B;
  --atc-neutral-30: #33373C;
  --atc-neutral-40: #40464B;
  --atc-neutral-50: #4C5359;
  --atc-neutral-60: #565E66;
  --atc-neutral-70: #616A72;
  --atc-neutral-80: #6C767F;
  --atc-neutral-90: #868F96;
  --atc-neutral-100: #A1A7AD;
  --atc-neutral-110: #B8BDC2;
  --atc-neutral-120: #CCCFD2;
  --atc-neutral-130: #DCDEE0;
  --atc-neutral-140: #EAECED;
  --atc-neutral-150: #F5F5F6;
  --atc-neutral-160: #FAFAFB;
  --atc-text-ink: #173250;
  --atc-text-slate: #5D6C7B;
  --atc-brand-link: #0E72B4;
  --atc-on-brand: #FFFFFF;
  --atc-secondary-fg: #3F576F;
}
